<div class="contenido">
  <div class="noticias">
    <div class="imagen">
      <% img = image_tag('portales/tdi.png') %>
      <%= link_to img, 'http://www.trabajoscai.cl' %>
      <div class="fb-like" data-href="http://www.trabajoscai.cl" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>

    </div>

    <div class="imagen">
      <% img = image_tag('portales/preuing.png') %>
      <%= link_to img, 'http://www.preuingenieriauc.cl/web/' %>
      <div class="fb-like" data-href="http://www.preuingenieriauc.cl/web/" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
    </div>

    <div class="imagen">
      <% img = image_tag('portales/ipropone.jpg') %>
      <%= link_to img, 'http://cai.cl/ingenieriapropone/' %>
      <div class="fb-like" data-href="http://cai.cl/ingenieriapropone/" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>

    </div>

    <div class="imagen">
      <% img = image_tag('portales/convive.jpg') %>
      <%= link_to img, 'http://cai.cl/convive/' %>
      <div class="fb-like" data-href="http://cai.cl/convive/" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
    </div>

    <div class="imagen">
      <% img = image_tag('portales/ipch.jpg') %>
      <%= link_to img, 'http://www.ingenierosparachile.cl' %>
      <div class="fb-like" data-href="http://www.ingenierosparachile.cl" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
    </div>

    <div class="imagen">
      <% img = image_tag('portales/cuentocorto.jpg') %>
      <%= link_to img, 'http://cuentocortouc.tumblr.com/' %>
      <div class="fb-like" data-href="http://cuentocortouc.tumblr.com/" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
    </div>


  </div>
</div>