<div class = "contenido">
  <div class ="izquierda">
    <h1>CAilendario</h1>

    <table>
      <tr>
        <th>Nombre</th>
        <th>Secci&oacute;n</th>
        <th>Fecha inicio</th>
        <th>Fecha término</th>
        <th>Lugar</th>
        <th>Descripci&oacute;n</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @eventos.each do |evento| %>
          <tr>
            <td><%= evento.name %></td>
            <td><%= evento.seccion_id %></td>
            <td><%= evento.fecha %></td>
            <td><%= evento.termino %></td>
            <td><%= evento.lugar %></td>
            <td><%= evento.descripcion %></td>
            <td><%= link_to 'Ver', evento %></td>
            <td><%= link_to 'Editar', edit_evento_path(evento) %></td>
            <td><%= link_to 'Eliminar', evento, :confirm => '¿Est&aacute;s seguro?', :method => :delete %></td>
          </tr>
      <% end %>
    </table>

    <br />

    <%= link_to 'Nueva actividad', new_evento_path %>
  </div>
</div>