<ul>
  <li><%= link_to "Noticias", posts_path %></li>
  <li><%= link_to "Impulso", impulso_index_path %></li>
  <li><%= link_to "CAi TV", videos_index_path %></li>
  <li><%= link_to "CAilendario", eventos_path %></li>
  <li><%= link_to "Ãreas", vocalias_path %></li>
  <li><%= link_to "Secciones", seccions_path %></li>
  <li><%= link_to "Lugares", lugars_path %></li>
  <li><%= link_to "Albums", albums_path %></li>
  <li><%= link_to "Fotos", fotos_path %></li>
</ul>