<ul>
  <li><%= link_to "Sociedad", '/post/seccion/1' %></li>
  <li><%= link_to "Comunidad", '/post/seccion/2' %></li>
  <li><%= link_to "Sustentabilidad y Cultura", '/post/seccion/3' %></li>
  <li><%= link_to "Académico", '/post/seccion/4' %></li>
  <li><%= link_to "Comunicaciones", '/post/seccion/5' %></li>
</ul>