<div class="sidebar" id="actividades">
  <div class="Ym">
    <h3 class="titulo"><span>CAilendario</span></h3>
  </div>
  <div class="Xm">
    <% d = "Nada,Lunes,Martes,Miércoles,Jueves,Viernes,Sábado,Domingo".split(",")
       m = "Nada,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre".split(",")
    %>
    <%
       anterior=0
       @dias.each do |dia|
         if dia.day!= anterior
           anterior = dia.day
           dia = dia.change(:hour => 0, :min => 0)

    %>
            <div class="dia">
              <div class="fecha">
                <span class="nombre"><%= d[dia.wday] %></span> <br/>
                <span class="numero"><%= "#{dia.day} de #{m[dia.month]}" %></span>
              </div>
              <div class="actividades">
                <% @proximas_actividades.each do |a|
                  h=""
                %>

                    <% if a.termino > dia && a.fecha < dia.tomorrow %>
                        <% if a.fecha.day == dia.day
                             h = h + "De #{a.fecha.hour}:"
                             if a.fecha.min > 10
                             h += a.fecha.min.to_s
                             else
                             h += "0" + a.fecha.min.to_s
                             end

                           end
                           if a.termino.day == dia.day
                             h = h + " a #{a.termino.hour}:"
                             if a.termino.min > 10
                               h += a.termino.min.to_s
                             else
                               h += "0" + a.termino.min.to_s
                             end
                           end
                           if a.termino.day != dia.day && a.fecha.day!=dia.day
                             h = "Todo el día"
                           end
                           l = Lugar.find(a.lugar_id)

                        %>

                        <div class="actividad">

                          <div class="tipo" id=<%= "tipo#{a.seccion_id}" %>></div>
                          <span class="title"><%= link_to a.name, a %></span>

                          <p>
                            <span class="lugar"><%= link_to l.nombre, l %></span>
                            <span class="hora"><%= h %></span>
                          </p>

                        </div>

                    <% end %>

                <% end %>
              </div>
            </div>
        <% end %>
    <% end %>


  </div>
</div>