<div class="auspicios">
  <ul>
    <% img = image_tag('auspicios/nextel.png') %>
    <li><%= link_to img, 'http://www.nextel.cl' %></li>
    <% img = image_tag('auspicios/angloamerican.png') %>
    <li><%= link_to img, 'http://www.angloamerican-chile.cl/' %></li>
    <% img = image_tag('auspicios/copec.png') %>
    <li><%= link_to img, 'http://www.copec.cl' %></li>
    <% img = image_tag('auspicios/gtdmanquehue.png') %>
    <li><%= link_to img, 'http://www.gtdmanquehue.com' %></li>
    <% img = image_tag('auspicios/nescafe.png') %>
    <li><%= link_to img, 'http://www.nescafe.cl' %></li>
    <% img = image_tag('auspicios/vallenevado.png') %>
    <li><%= link_to img, 'http://www.vallenevado.com/es/' %></li>
  </ul>
</div>