<footer>
  <%= render ('layouts/auspicios') %>
	<div class = "contenido">
		
		<div class = "cleft">
			<div class = "lista" >
				<div class = "cleft">
					<ul>
						<li><%= link_to "Inicio", contacto_path%></li>
						<li><%= link_to "Equipo 2012", ayuda_path%></li>
						<li><%= link_to "Contacto", contacto_path%></li>
						<li><%= link_to "Fotos", contacto_path%></li>
						<li><%= link_to "Vídeos", contacto_path%></li>
						<li><%= link_to "Mapa", contacto_path%></li>
					</ul>
				</div>
				<div class = "cright">
					
					<div class = "col">
						<h4>La escuela</h4>
						<ul>
							<li><%= link_to "Eventos", root_path %></li>
							<li><%= link_to "Noticias", root_path %></li>
							<li><%= link_to "Informaciones", root_path %></li>
						</ul>
					</div>
					
					<div class = "col">
						<h4>La universidad</h4>
						<ul>
							<li><%= link_to "Eventos", root_path %></li>
							<li><%= link_to "Noticias", root_path %></li>
							<li><%= link_to "Informaciones", root_path %></li>
						</ul>
					</div>
					
					<div class = "col">
						<h4>Nosotros</h4>
						<ul>
							<li><%= link_to "Jefes", root_path %></li>
							<li><%= link_to "Vocalías", root_path %></li>
							<li><%= link_to "Comisiones", root_path %></li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		

			<div class = "organizador">

			</div>

		
	</div>
	
	<div class = "abajo">
		Página programada y diseñada por <em>Roberto Martínez Stocker</em>.   <br/>
      Email: <span>ramarti4@uc.cl</span>
	</div>
  <div class="abajo-chico">
    1904-2011 Centro de Alumnos de Ingeniería, Pontificia Universidad Católica de Chile.  <br/>
    Vicuña Mackenna N°4860, Campus San Joaquín, Edificio José Luis del Río Rondanelli. Macul, Santiago - Chile.      <br/>
    Fono: 354 4759 | Fono-fax: 354 4731 | Email: cai@caiuc.cl
  </div>
	
</footer>