<footer>
  <%= render ('layouts/auspicios') %>
	<div class = "contenido">
		
		<div class = "cleft">
			<div class = "lista" >
				<div class = "cleft">
					<ul>
						<li><%= link_to "Inicio", contacto_path%></li>
						<li><%= link_to "Equipo 2012", ayuda_path%></li>
						<li><%= link_to "Contacto", contacto_path%></li>
						<li><%= link_to "Fotos", contacto_path%></li>
						<li><%= link_to "Vídeos", contacto_path%></li>
						<li><%= link_to "Mapa", contacto_path%></li>
					</ul>
				</div>
				<div class = "cright">
					
					<div class = "col">
						<h4>La escuela</h4>
						<ul>
							<li><%= link_to "Eventos", root_path %></li>
							<li><%= link_to "Noticias", root_path %></li>
							<li><%= link_to "Informaciones", root_path %></li>
						</ul>
					</div>
					
					<div class = "col">
						<h4>La universidad</h4>
						<ul>
							<li><%= link_to "Eventos", root_path %></li>
							<li><%= link_to "Noticias", root_path %></li>
							<li><%= link_to "Informaciones", root_path %></li>
						</ul>
					</div>
					
					<div class = "col">
						<h4>Nosotros</h4>
						<ul>
							<li><%= link_to "Jefes", root_path %></li>
							<li><%= link_to "Vocalías", root_path %></li>
							<li><%= link_to "Comisiones", root_path %></li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		

			<div class = "organizador">

			</div>

		
	</div>
	
	<div class = "abajo">
		Página creada y mantenida por Roberto Martínez Stocker.
	</div>
	
</footer>