<div class="header">
  <div class="logo">
    <div class="imagen">
      <% logo = image_tag("logo.png", :alt => "Centro de Alumnos de Ingeniería") %>
      <%= link_to logo, root_path %>
    </div>
    <div class="slogan">
      <h3>Centro de Alumnos de Ingeniería</h3>
      <h4>Pontificia Universidad Católica de Chile</h4>
    </div>

  </div>
</div>

<% if !signed_in? %>
    <div class="sesion">
      <div class="messagepop pop">
        <%= form_for(:session, :url => sessions_path) do |f| %>

            <%= f.text_field :email %>

            <%= f.password_field :password %>
            <%= f.check_box "Recordarme" %>
            <span id="recordar">Recordarme</span>
            <%= f.submit "Entrar", :class => 'boton_entrar' %>

        <% end %>
        <div class="signup">
          <%= link_to 'Crear cuenta', signup_path %>
        </div>
      </div>

      <a href="#" id="contact">Iniciar sesión</a>
    </div>

<% end %>

</header>