<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= csrf_meta_tag %>

		<%= stylesheet_link_tag    "application", :media => "all" %>
		
	    <%= javascript_include_tag "application" %>
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<% if signed_in? %>
		<%= render 'layouts/actions_header'%>
		<% end %>
		
		<div class = "container">
			<%= render 'layouts/header'%>
			
			<div class = "cuerpo">
				
				<div class = "menu">
					
					<div id = "actual">
						<span><%= @title %></span>
					</div>
					<div id="menus">
					<div id = "menu_header">
						<ul>
								<% "Inicio,Web,Proyectos,Usuarios".split(",").each do |modulo|%>
								<% if modulo != @title %>
									<li> <%= link_to modulo, "/intranet/#{modulo.downcase}"%></li>
								<% end %>
								<% end %>
							</ul>
					</div>
					
					<div id = "sub_menu_header">
						<%= render "layouts/menu/intranet_#{@title.downcase}"%>

					</div>
					</div>

					</div>

					<%= yield %>
			</div>



          <%= render 'layouts/footer'%>
			</div>



	</body>

	<%= debug(params) if Rails.env.development? %>
</html>
